<section class="film-list ideal">

    <div class="ui-status empty">
        No hay películas.
    </div>

    <div class="ui-status error">
        Se ha producido un error.
    </div>

    <div class="ui-status loading">
        Cargando...
    </div>

    <div class="ui-status ideal">
        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/grease.jpg" alt="Grease">
            </a>
            <div class="title">Grease (1978)</div>
            <div class="director">Randal Kleiser</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/gremlins.jpg" alt="The Gremlins">
            </a>
            <div class="title">Gremlins (1984)&nbsp;</div>
            <div class="director">Joe Dante</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/club.jpg" alt="El Club de los Cinco">
            </a>
            <div class="title">El Club de los Cinco (1985)</div>
            <div class="director">John Hughes</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/beetlejuice.jpg" alt="Beetlejuice">
            </a>
            <div class="title">Beetlejuice (1988)</div>
            <div class="director">Tim Burton</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/totoro.jpg" alt="Mi vecino Totoro">
            </a>
            <div class="title">Mi Vecino Totoro (1988)</div>
            <div class="director">Hayao Miyazaki</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/jurassic.jpg" alt="Jurassic Park">
            </a>
            <div class="title">Jurassic Park (1993)</div>
            <div class="director">Steven Spielberg</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/nightmare.jpg" alt="Pesadilla antes de Navidad">
            </a>
            <div class="title">Pesadilla antes de Navidad (1993)</div>
            <div class="director">Henry Selick</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/titanic.jpg" alt="Titanic">
            </a>
            <div class="title">Titanic (1997)</div>
            <div class="director">James Cameron</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/billy.jpg" alt="Billy Elliot">
            </a>
            <div class="title">Billy Elliot (2000)</div>
            <div class="director">Stephen Daldry</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/moulin.jpg" alt="Moulin Rouge">
            </a>
            <div class="title">Moulin Rouge (2001)</div>
            <div class="director">Baz Luhrmann</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/darko.jpg" alt="Donnie Darko">
            </a>
            <div class="title">Donnie Darko (2001)</div>
            <div class="director">Richard Kelly</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/fish.jpg" alt="Big Fish">
            </a>
            <div class="title">Big Fish (2003)</div>
            <div class="director">Tim Burton</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/juno.jpg" alt="Juno">
            </a>
            <div class="title">Juno (2007)</div>
            <div class="director">Jason Reitman</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/cloverfield.jpg" alt="Cloverfield">
            </a>
            <div class="title">Cloverfield (2008)</div>
            <div class="director">Matt Reeves</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/mamma.jpg" alt="Mamma Mia!">
            </a>
            <div class="title">Mamma Mia! (2008)</div>
            <div class="director">Phyllida Lloyd</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/coraline.jpg" alt="Los Mundos de Coraline">
            </a>
            <div class="title">Los Mundos de Coraline (2009)</div>
            <div class="director">Henry Selick</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/inception.jpg" alt="Inception">
            </a>        
            <div class="title">Inception (2010)</div>
            <div class="director">Christopher Nolan</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/cloud.jpg" alt="El Atlas de las Nubes">
            </a>
            <div class="title">El Atlas de las Nubes (2012)</div>
            <div class="director">Lilly y Lana Wachowski</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/maze.jpg" alt="El Corredor del Laberinto">
            </a>
            <div class="title">El Corredor del Laberinto (2014)</div>
            <div class="director">Wes Ball</div>
        </article>

        <article class="film">
            <a href="./detail.html">
                <img class="cover" src="./img/llamada.jpg" alt="La Llamada">
            </a>
            <div class="title">La Llamada (2017)</div>
            <div class="director">Javier Calvo y Javier Ambrossi</div>
        </article>
    </div>
</section>