<form class="message" novalidate>
    <label class="message-label negrita">Nombre:</label>
    <input id="name" type="text" name="name" placeholder="Nombre de contacto" required>
    <label class="message-label negrita">E-mail:</label>
    <input id="email" type="text" name="email" placeholder="E-mail de contacto" required>
    <label class="message-label negrita">Comentario:</label>
    <textarea id="mensaje" cols="70" name="mensaje" required>Escriba su mensaje aquí.</textarea>
    <button>Enviar</button>
</form>