<section class="sinopsis">
    <div class="title-img">
        <img id="cover" src="./img/gremlins.jpg" alt="Cartel película">
        <img src="./img/gremlins-1.jpg" alt="Fotograma 1">
        <img src="./img/gremlins-2.jpg" alt="Fotograma 2">
    </div>
    <div class="sinopsis-txt">
        <h1 class="negrita">Gremlins</h1>
        <p>
            &nbsp;Un chico rompe involuntariamente tres importantes reglas sobre su nueva mascota y libera a una horda
            de traviesos y malévolos monstruitos en su ciudad.
        </p>  
        <p>
            &nbsp;<span class="negrita">Director:</span> Joe Dante.
        </p>
        <p>
            &nbsp;<span class="negrita">Guionista:</span> Chris Columbus.
        </p>
        <p>
            &nbsp;<span class="negrita">Género:</span> Comedia, fantasía, terror.
        </p>
        <p>
            &nbsp;<span class="negrita">Duración:</span> 106 min.
        </p>
        <p>
            &nbsp;<span class="negrita">País de origen:</span> USA.
        </p>
        <p>
            &nbsp;<span class="negrita">Fecha de estreno:</span> 28 de Agosto de 1984 <span class="cursiva">(España)</span>.
        </p>
        <p>
            &nbsp;<span class="negrita">Reparto</span> Zach Galligan, Phoebe Cates, Howie Mandel, Corey Fieldman, Dick Miller,
            Hoyt Axton, Keye Luke, Frank Welker, Judge Reinhold, Polly Holliday, Frances Lee McCain, Belinda Balaski,
            Glynn Turman, Jonathan Banks, John Louie, Jackie Joseph, Harry Carey Jr., Scott Brady, Don Steele, Michael 
            Winslow, Peter Cullen, Edward Andrews y Marvin Miller.
        </p>
        <p id="enlaces" class="cursiva">
            <a href="https://www.filmaffinity.com/en/film455839.html">FilmAffinity</a>
            <a href="http://www.imdb.com/title/tt0087363/">IMDb</a>
            <a href="https://www.rottentomatoes.com/m/gremlins/">Rotten Tomatoes</a>
            <a href="http://www.metacritic.com/movie/gremlins">Metacritic</a>
        </p>
    </div>
</section>